/* style.css */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F9FAF8;
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
    background-color: #1F2937;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;

}

.header-links {
    display: flex;
    gap:20px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-basis: 45%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10% 80px 10%;
    gap: 10%;

}

/* .hero-content {
    

}*/

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
    margin: 8px auto;
}

.banner-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .banner-text {
    margin: 8px auto;
}

.hero-button {
    font-size: 16px;
    border: 0px solid;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 36px;
    border-radius: 10px;
    margin: 8px 0;
}

.hero img {
    width: 400px;
    height: auto;
}

.features {
    padding: 2% 18% 7% 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7%;

}

.features h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: extra-bold;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    padding: 3% 0 0 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;

}

.card img {
    width: 150px;
    height: auto;
    border-radius: 20px;
}

.caption {
    font-size: 12px;
    color: #1F2937;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 10% 20%;
}

.quotation {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
    text-align: justify;

}

.attribution {
    font-size: 16px;
    color: #1F2937;
    font-weight: bold;
}

.quote .attribution {
    text-align: right;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 3% 12%;
    margin: 5% 10%;
    border-radius: 6px;
}

.light {
    color: #ffffff;
    margin: 2% 0;   
}

.cta-button {
    font-size: 16px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: solid;
    border-color: #F9FAF8;
    border-width: 2px;
    padding: 8px 36px;
    border-radius: 10px;
    margin: 8px 0;
}

.footer {
    background-color: #1F2937;
    color:#F9FAF8;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}



